html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.tablinks:hover:hover {
  filter: drop-shadow(0 0 2em #4a4a4a);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: #24c8db;
}

button {
  cursor: pointer;
}

button.active {
  border-color: aliceblue;
  background-color: #2f2f2f
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}

/* ----------------------------------- */

/* tabs */
.tabs {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
}

/* main container is a flex container columnwise*/
.container {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 98%;
  height: 100%;
  gap: 10px;
}

#environmentcontent {
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "playerlist environment-text"
    "playerlist command-box"
  ;
  gap: 10px;
  padding-bottom: 3%;
  height: 100%;
}

#playerlist {
  grid-area: playerlist;
  color-scheme: dark;
  border-radius: 8px;
  overflow-y: auto;

  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;

  display: block;
  padding: 2px;
  text-decoration: none;
}

.playerbuttons {
  color: white;
  border: 1px solid white;
  background-color: #0f0f0f;
  box-sizing: border-box;
  width: 100%;
}

#environment-text {
  grid-area: environment-text;
  float: right;
  color-scheme: dark;
  border-radius: 8px;
  overflow-y: auto;
}

#command-box {
  grid-area: command-box;
  float: right;
  color-scheme: dark;
  border-radius: 8px;

  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;
}

/* this is truly horrible and I love it*/
#controlscontent {
  grid-column: 1 / 33;
  grid-row: 2 / 33;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "iplabel ip ip ip ip ip ip ip ip ip"
    "portlabel port port port port port port port port port"
    "gamelabel game game game game game game game game game"
    "worldlabel world world world world world world world world world"
    "exelabel exe exe exe exe exe exe exe exe findexe"
    "a a a a a a a a a a"
    "a a a a a a a a a a"
    "0 start start 1 stop stop 2 restart restart 3"
  ;
  gap: 10px;

  .lableator {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  #iplabel {
    grid-area: iplabel;
  }

  #ip {
    grid-area: ip;
  }

  #portlabel {
    grid-area: portlabel;
  }

  #port {
    grid-area: port;
  }

  #gamelabel {
    grid-area: gamelabel;
  }

  #game {
    grid-area: game;
  }

  #worldlabel {
    grid-area: worldlabel;
  }

  #world {
    grid-area: world;
  }

  #exelabel {
    grid-area: exelabel;
  }

  #exe {
    grid-area: exe;
  }

  #findexebutton {
    grid-area: findexe;
  }

  #startserverbutton {
    grid-area: start;
  }

  #stopserverbutton {
    grid-area: stop;
  }

  #restartserverbutton {
    grid-area: restart;
  }
}

/* #mycooltodolist {
  grid-column: 3 / 33;
  grid-row: 1 / 4;
} */

.flop {
  border: 1px solid transparent;
  border-radius: 8px;
  border-color: white;
}