html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.tablinks:hover:hover {
  filter: drop-shadow(0 0 2em #4a4a4a);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

/*
  main container is 32x32 grid
*/
.container {
  padding: 1%;
  width: 98%;
  height: 97%;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 10px;
}

#environment {
  grid-column: 1;
  grid-row: 1;
}

#controls {
  grid-column: 2;
  grid-row: 1;
}

#health {
  grid-column: 3;
  grid-row: 1;
}

#environmentcontent {
  grid-column: 1 / 33;
  grid-row: 2 / 33;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 10px;
}

#playerlist {
  grid-column: 1 / 8;
  grid-row: 1 / 33;
  color-scheme: dark;
  border-radius: 8px;
  overflow-y: auto;

  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;

  display: block;
  padding: 2px;
  text-decoration: none;
}

.playerbuttons {
  color: white;
  border: 1px solid white;
  background-color: #0f0f0f;
  box-sizing: border-box;
  width: 100%;
}

#environment-text {
  grid-column: 8 / 33;
  grid-row: 1/30;
  float: right;
  color-scheme: dark;
  border-radius: 8px;
  overflow-y: auto;
}

#command-box {
  grid-column: 8 / 33;
  grid-row: 30/33;
  float: right;
  color-scheme: dark;
  border-radius: 8px;

  border: 1px solid white;
  background-color: #1e1e1e;
  color: white;
}


#controlscontent {
  grid-column: 1 / 33;
  grid-row: 2 / 33;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 10px;
}

/* #mycooltodolist {
  grid-column: 3 / 33;
  grid-row: 1 / 4;
} */

#iplabel {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

#ip {
  grid-column: 2 / 16;
  grid-row: 1 / 2;
}

#portlabel {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

#port {
  grid-column: 2 / 16;
  grid-row: 3 / 4;
}

#gamelabel {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

#game {
  grid-column: 2 / 16;
  grid-row: 5 / 6;
}

#worldlabel {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

#world {
  grid-column: 2 / 16;
  grid-row: 7 / 8;
}

#exelabel {
  grid-column: 1 / 2;
  grid-row: 9 / 10;
  margin-top: auto;
  margin-bottom: auto;
  text-align: right;
}

#exe {
  grid-column: 2 / 16;
  grid-row: 9 / 10;
}

#findexebutton {
  grid-column: 16;
  grid-row: 9 / 10;
}

#startserverbutton {
  grid-column: 2;
  grid-row: 11;
}

#stopserverbutton {
  grid-column: 3;
  grid-row: 11;
}

#restartserverbutton {
  grid-column: 4;
  grid-row: 11;
}

.flop {
  border: 1px solid transparent;
  border-radius: 8px;
  border-color: white;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  background-color: #24c8db;
}

button {
  cursor: pointer;
}

button.active {
  border-color: aliceblue;
  background-color: #2f2f2f
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}